<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quora</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
  <% for (const post of posts) { %>
    <div>
      <h2><%=post.username%></h2>
      <p><%=post.content%></p>
      <a href="http://localhost:8080/posts/<%=post.id%>">Details</a>
      <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
      <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% } %>
  <a href="http://localhost:8080/posts/new">Create a new post</a>
</body>
</html>


